/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Natalie Garbarino and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing November 2021 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/pexels_background.jpg) 
		center center fixed no-repeat;
	background-size: cover;
	
	
}

.center {
    width: 100%; /*made div responsive*/
	padding: 2%;
    margin: 50px auto;
 	background: rgb(255, 255, 255, 1.0); /*changed opacity to 1.0*/
	text-align: center;
	margin-top: 25px;
	/*removed border*/
}

   
#logo {
    width: 50%; /*made responsive*/
	margin-bottom: 0px;
	text-align: center;
	display: block;
	margin-left: auto; 
	margin-right: auto;
	/*removed logo border*/
}

h1 {
	font-family: ivypresto-display, serif;
	font-weight: bold;
	font-style: normal;
	font-size: 2.5em;
	letter-spacing: 10px;
	color: rgb(184, 69, 40);
    margin-top: 0px; /*made top margin smaller*/
	text-align: center; /* added this to center text wthout div*/
}

h2 {
	font-family: didot, serif;
	font-size: 1.2em;
	font-style: normal; /*added italics*/
	letter-spacing: 2px;
	width: 350px; /*added this width edit*/
    line-height: 1.4;
    color: rgb(134, 26, 107);
    padding: 0px 0px;
    margin: 0px auto 25px auto;
	margin-top: 1.0em; /*added this part*/
	margin-bottom: 3.0em; /*added this setting*/
	text-align: center; /* added this to center text wthout div*/
}

nav{
	width: 50%; /*made responsive*/
	font-family: didot, serif;
	font-size: 1.2em;
	letter-spacing: 4px;
    margin: 0 auto;
	border: solid rgb(184, 69, 40);
	border-width: 0.5px 0;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}
    
nav li{
	display: inline;
	}

nav a{
	display: inline-block;
	padding: 10px;
	}

a{
	color:rgb(184, 69, 40);
	text-decoration: none;
	font-weight: bold;
	}

a:hover{
	color:rgb(255, 255, 255);
	background: rgb(184, 69, 40);
	}